<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-on:keyup.enter="capture()" v-model="animal"/>
        <ul>
            <li v-for="a in animals">{{a}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app=new Vue({
          el:"#app",
          data:{
            animal:null,
            animals:['사자','기린','하마','코끼리']
          },
          methods:{
            capture:function(){
                  if(this.animal){
                      this.animals.push(this.animal);
                      this.animal=null;
                  }
              }
          }
        })
    </script>
</body>
</html>
